<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @event.image_url(:medium) %>
    </div>
  </div>
  <div class="col-md-6">
    <h3 style="font-size: 35px;" class="center"><%= @event.name %></h3>
    <p><%= @event.description %></p>
    <p>Instructor: <%= @event.instructor %></p>
    <p>Lugar: <%= @event.place %></p>
    <p>Observaciones: <%= @event.observation %></p>
    <p>Fecha: <%= @event.date %></p>
    <br>
    <div class="center">
    
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to 'Editar', edit_event_path(@event), class: "btn btn-warning" %>
  <%= link_to 'Eliminar', @event, method: :delete, data: { confirm: "Estas seguro/a?" }, class: "btn btn-info" %>
<% end %>
<%= link_to 'Atrás', events_path, class: "btn btn-success" %>

