<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @promotion.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @promotion.description %>
</p>

<p>
  <strong>Option:</strong>
  <%= @promotion.option %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @promotion.image_url %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
